/* Section Gallery 
================================ */

/********* 
Gallery Styles for the filter & items 
*********/
#specials .specials-filter-area {
	margin-bottom: 5%
}

@media(min-width:768px) {
#specials .specials-filter-area {
	margin-bottom: 2%
}
}
#specials .specials-filter {
	padding: 0;
	margin: 0
}
#specials .specials-filter li {
	list-style: none;
	display: inline-block;
	margin: 3px
}
#specials .specials-filter li a {
	display: block;
	padding: 10px 15px 7px;
	background: transparent;
	color: #1d1d20;
	border-bottom: transparent;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	outline: none;
	text-transform: uppercase;
	-webkit-transition: all .3s;
	transition: all .3s
}
#specials .specials-filter li.active a, #specials .specials-filter li.active a:hover {
	border-bottom: 2px solid #ddb355;
	color: #1d1d20
}
#specials .specials-filter li a:hover {
	border-bottom: 2px solid #ddb355;
	color: #1d1d20
}
#specials .specials-items {
	margin: -8px;
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
	-webkit-transition-delay: .6s;
	transition-delay: .6s
}
#specials .single-item {
	display: block;
	width: 25%;
	padding: 8px;
	float: left;
	position: relative
}
#specials .single-item a {
	display: block;
	-webkit-transition: none!important;
	transition: none!important
}
.specials-image {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #ddb355
}
#specials .specials-image img {
	max-width: inherit;
	width: 100%;
	-webkit-transition: all .45s ease-out;
	transition: all .45s ease-out;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}
#specials .gallery-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .45s ease;
	transition: all .45s ease;
	padding: 40px 20px;
	background-color: rgba(0,0,0,0.8);
	text-align: center
}
#specials .gallery-content-inner {
	position: relative;
	width: 100%
}
#specials .p-title {
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 400;
	position: relative;
	margin-bottom: 5px;
	color: #ddb355;
	padding-bottom: 10px;
	border-bottom: 2px solid #ddb355
}
#specials .gallery-content-inner p {
	color: #ddb355
}
#specials .single-item:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}
#specials .single-item:hover .gallery-content {
	opacity: 1;
	filter: alpha(opacity=100)
}
#specials .modal-open .modal {
}
#specials .modal-dialog {
	margin: 10px auto;
	width: 80%;
}

/********* 
Laptop 
*********/
@media (max-width: 1400px) {
#specials .single-item {
	width: 33.1%;
}
}

/********* 
Small Tablet 
********/
@media (max-width: 991px) {
#specials .single-item {
	width: 50%;
}
#specials .specials-filters-area {
	margin-bottom: 10%;
}
}

/********* 
Smallest Tablet & Mobile 
*********/
@media (max-width: 767px) {
#specials .single-item .gallery-content, #specials .single-item:hover .gallery-content {
	opacity: 0 !important;
	filter: alpha(opacity=0);
}
}

/*********  
Small Mobile 
*********/
@media (max-width: 500px) {
#specials .single-item {
	width: 100%;
}
#specials .specials-filters li a {
	padding: 2px 5px;
}
#specials .specials-filter li {
	list-style: none;
	display: inline-block;
	margin: 3px
}
}

/* Section Gallery 2
================================ */

/********* 
Gallery Styles for the filter & items 
*********/
#specials2 .filters-area {
	margin-bottom: 5%
}

@media(min-width:768px) {
#specials2 .filters-area {
	margin-bottom: 2%
}
}
#specials2 .filters {
	padding: 0;
	margin: 0; 
	border-left:2px solid #eee;
}
#specials2 .filters li {
	list-style: none;
	display: block;
    margin: 2px;
    margin-left: -2px;
}
#specials2 .filters li a {
	display: block;
	padding: 10px 15px 7px;
	background: transparent;
	color: #1d1d20;
	border-left:2px solid transparent;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	outline: none;
	text-transform: uppercase;
	-webkit-transition: all .3s;
	transition: all .3s
}
#specials2 .filters li.active a, #specials2 .filters li.active a:hover {
	border-left: 2px solid #ddb355;
	color: #1d1d20
}
#specials2 .filters li a:hover {
	border-left: 2px solid #ddb355;
	color: #1d1d20
}
#specials2 .specials-items {
	margin: -8px;
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
	-webkit-transition-delay: .6s;
	transition-delay: .6s
}
#specials2 .single-item {
	display: block;
	width: 50%;
	padding: 8px;
	float: left;
	position: relative
}
#specials2 .single-item a {
	display: block;
	-webkit-transition: none!important;
	transition: none!important
}
.specials-image {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #ddb355;
	min-width: 100%;
	min-height: 100%;
}
#specials2 .specials-image img {
	max-width: inherit;
	width: 100%;
	-webkit-transition: all .45s ease-out;
	transition: all .45s ease-out;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}
#specials2 .gallery-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .45s ease;
	transition: all .45s ease;
	padding: 40px 20px;
	background-color: rgba(0,0,0,0.8);
	text-align: center
}
#specials2 .gallery-content-inner {
	position: relative;
	width: 100%
}
#specials2 .p-title {
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 400;
	position: relative;
	margin-bottom: 5px;
	color: #ddb355;
	padding-bottom: 10px;
	border-bottom: 2px solid #ddb355
}
#specials2 .gallery-content-inner p {
	color: #ddb355
}
#specials2 .single-item:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1)
}
#specials2 .single-item:hover .gallery-content {
	opacity: 1;
	filter: alpha(opacity=100)
}
#specials2 .modal-open .modal {
}
#specials2 .modal-dialog {
	margin: 10px auto;
	width: 80%;
}

/********* 
Laptop 
*********/
@media (max-width: 1400px) {
#specials2 .single-item {
	width: 33.1%;
}
}

/********* 
Small Tablet 
********/
@media (max-width: 991px) {
#specials2 .single-item {
	width: 50%;
}
#specials2 .filterss-area {
	margin-bottom: 10%;
}
}

/********* 
Smallest Tablet & Mobile 
*********/
@media (max-width: 767px) {
#specials2 .single-item .gallery-content, #specials2 .single-item:hover .gallery-content {
	opacity: 0 !important;
	filter: alpha(opacity=0);
}
}

/*********  
Small Mobile 
*********/
@media (max-width: 500px) {
#specials2 .filters {
	border-left:0px solid #eee;
	text-align:center;
}
#specials2 .single-item {
	width: 100%;
}
#specials2 .filters li a {
	padding: 2px 5px;
}
#specials2 .filters li {
	list-style: none;
	display: inline-block;
	margin: 3px
}
#specials2 .filters li a {
	border-bottom:2px solid transparent;
	border-left:0;
}
#specials2 .filters li.active a, #specials2 .filters li.active a:hover {
	border-bottom: 2px solid #ddb355;
	border-left:0;
	color: #1d1d20
}
#specials2 .filters li a:hover {
	border-bottom: 2px solid #ddb355;
	border-left:0;
	color: #1d1d20
}
}

/*********   
Maginific Popup Adjustments
*********/
@media (min-width: 768px) {
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
	margin-left: 25px;
	border-right: 0px solid #3F3F3F !important;
}
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
	border-left: 0px solid #3F3F3F !important;
}
}
